### **requirements.txt**

# Core Flask stack
flask
flask-cors
waitress
werkzeug

# Encryption engines
cryptography
pycryptodome
pqcrypto

# Utility
psutil

# Run pip install -r application_data/requirements.txt
